<div
    hx-get="./src/components/controls/title-bar/title-bar.html"
    hx-trigger="load"
    hx-swap="outerHTML"
></div>

<div
    hx-get="./src/components/controls/top-left/top-left.html"
    hx-trigger="load"
    hx-swap="outerHTML"
></div>
<div
    hx-get="./src/components/controls/bottom-left/bottom-left.html"
    hx-trigger="load"
    hx-swap="outerHTML"
></div>
<div
    hx-get="./src/components/controls/top-right/top-right.html"
    hx-trigger="load"
    hx-swap="outerHTML"
></div>
<div
    hx-get="./src/components/controls/bottom-right/bottom-right.html"
    hx-trigger="load"
    hx-swap="outerHTML"
></div>
